@charset "UTF-8";

html, body {
	height:100%;
}
body#nyov-github-com {
	margin:0;
	padding:0;
	text-align:center;
	background:#000;
	color:#00e36e;
	font-family: Georgia, "Lucida Grande", sans-serif;
	font-size: 0.9em;
}
#viewport {
	position:relative;
	margin:0 auto;
	padding:0;
	text-align:center;
	width:auto;
	min-height:100%;
	height:100%;
	overflow:hidden;
	text-align:left;
}
#page {
	position:absolute;
	margin:0;
	width:auto;
	top:10px;
	bottom:10px;
	left:10px;
	right:10px;
	text-align:center;
	font-size:1em;
}
#back {
	margin:0 auto;
	position:relative;
	top:50%;
	margin-top:-67px;
	width:135px;
	height:135px;
}
a:link { color: #036; text-decoration: none; }
a:visited { color: #036; text-decoration: none; }
a:hover { color: #f90; text-decoration: none; }
a:active { color: #f90; text-decoration: none; }
::-moz-selection {
	background:#000;
	color:#f60;
}
::selection {
	background:#000;
	color:#f60;
}
